<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.0.7" targetFramework="net48" />
  <package id="Autofac" version="4.8.0" targetFramework="net452" />
  <package id="Autofac.Extras.DynamicProxy" version="4.4.0" targetFramework="net452" />
  <package id="AWSSDK.Core" version="3.7.105.14" targetFramework="net48" />
  <package id="AWSSDK.SimpleEmail" version="3.7.100.85" targetFramework="net48" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="CsvHelper" version="5.0.0.1" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="elmah" version="1.2.2" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="Facebook" version="7.0.6" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.8" targetFramework="net452" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Neodynamic.SDK.ThermalLabel" version="6.0.3515.1112" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="NPOI" version="2.5.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net452" />
  <package id="PreMailer.Net" version="2.5.0" targetFramework="net48" />
  <package id="QRCoder" version="1.3.5" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Email" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.MSSqlServer" version="4.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="Spring.Aop" version="2.0.1" targetFramework="net452" />
  <package id="Spring.Core" version="2.0.1" targetFramework="net452" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="UnidecodeSharpFork" version="1.0.0" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net452" />
</packages>